body{
	font-size: 12px;
	color: #606060;
	font-family: Open Sans; 
}

h1{
	font-size: 16px;
	font-weight: bold;
}

h2{
	font-size: 14px;
	font-weight: bold;
}

button{
	font-size: 11px;
}

p{
	padding: 10px;
}

a{
	font-size: 11px;
	color: #c95555;
}

.header{
	display: flex;
	height: 100px;
	width: 100%;
}

.back{
	margin-top: -9px;
}

.portada{
	margin-left: 50px;
	margin-top: 10px;
	width: 200px;
	height: 80px;
	margin-right: 480px;
}

nav{
	text-align: right;
	padding: 26px;
}	

nav > a{
	text-decoration: none;
	padding: 25px;
}

.boton1{
	margin-left: 30px;
	height: 30px;
	width: 80px;
	color: white;
	background-color: #283e3e;
}

img{
	width: 97%;
}

.white{
	width: 100%;
	background-color: #ebebe0;
	display: flex;
	height: 10rem;
	text-align: center;
}

.mediana{
	width: 20rem;
}

.texto1{
	margin: auto;
	margin-top: 70px;
}

.contenido{
	text-align: center;
}

.info{
	margin-right: 130px;
}

.middle{
	margin-right: 330px;
}

.first{
	height: 30px;
	margin-right: 330px;
}

.second{
	height: 100px;
	width: 500px;
}

.third{
	height: 30px;
	width: 500px;
}

.fourth{
	height: 100px;
	width: 500px;
}


.finalline{
	width: 40%;
}

.btnGuardar{
	height: 50px;
	width: 200px;
	background-color: #283e3e;
	color: white;
}


.btnCancelar{
	margin-left: 20px;
	height: 50px;
	width: 200px;
}

.footer{
	display: flex;
}

.fintxt{
	margin: auto;
	word-spacing: 30px;
	margin-top: 20px;
}

.final{
	text-align: center;
}

.logo{
	background-color: black;
	color: white;
	margin-right: 10px;
}


