body{
	font-size: 12px;
	color: #606060;
	font-family: Open Sans; 
}

h1{
	font-size: 16px;
	font-weight: bold;
}

h2{
	font-size: 14px;
	font-weight: bold;
}

button{
	font-size: 11px;
}

p{
	padding: 10px;
}

a{
	font-size: 11px;
	color: #c95555;
}

.header{
	display: flex;
	height: 50px;
	text-align: right;	
	margin-right: 50px;
	padding: 1px 10px 0 0;
	margin-top: -8px;
}

.back{
	height: 330px;
	width: 101%;
	text-align: right;	
	background-color: #ebebe0;
}

.portada{
	margin-left: 30px;
	margin-top: 15px;
	width: 200px;
	height: 80px;
	margin-right: 627px;
}

nav{
	margin-top: 28px;
}


nav > a{
	text-decoration: none;
	padding: 15px;
}

div > a{
	text-decoration: none;
}
	
.boton1{
	margin-left: 20px;
	height: 30px;
	width: 80px;
	color: white;
	background-color: #283e3e;
}

.white{
	display: flex;
	height: 12rem;
	text-align: center;
}

.line{
	width: 20rem;
}

.texto1{
	margin: auto;
	margin-top: 30px;
}

input{
	margin-right: 25px;
	height: 30px;
	min-width: 20%
}

.largo{
	height: 40px;
	width: 30rem;
}

.btn1{
	color: white;
	background-color: #283e3e;
	height: 45px;
	width: 150px;
}


.middle{
	text-align: center;
}

img{
	width: 80%;
	height: 80%
}

.img{
	display: flex;
}

.img1{
	margin-left: 300px;
}

.img3{
	margin-right: 300px;
}

.footer{
	text-align: center;
}

.botimg{
	display: flex;	
}

.botimg1{
	width: 50%;	
}

.botimg2{
	width: 50%;	
}

.footer1{
	display: flex;
}

.fintxt{
	margin: auto;
	word-spacing: 30px;
	margin-top: 40px;
}


.final{
	text-align: center;
}

.logo{
	background-color: black;
	color: white;
	margin-right: 10px;
}





