body{
	font-size: 12px;
	color: #606060;
	font-family: Open Sans; 
}

h1{
	font-size: 16px;
	font-weight: bold;
}

h2{
	font-size: 14px;
	font-weight: bold;
}

button{
	font-size: 11px;
}

p{
	padding: 10px;
}

a{
	font-size: 11px;
	color: #c95555;
}

.header{
	display: flex;
	height: 100px;
	width: 100%;
}

.back{
	margin-top: -9px;
}

.portada{
	margin-left: 50px;
	margin-top: 10px;
	width: 200px;
	height: 80px;
	margin-right: 350px;
}

nav{
	margin-left: 120px;
	text-align: right;
	padding: 30px;
}

nav > a{
	text-decoration: none;
	padding: 25px;
}

.contenido{
	display: flex;
}

img{
	width: 100%;
}

div > a{
	text-decoration: none;
}

.boton1{
	margin-left: 20px;
	background-color: #283e3e;
	color: white;
}

.izquierda{
	width: 50%;
}

.derecha{
	margin-top: 40px;
	margin-left: 150px;
}

.linea{
	width: 23rem;
}

.linea2{
	width: 30%;
	margin-right: 300px;
}

.btn{
	height: 50px;
	width: 200px;
	background-color: #283e3e;
}

.footer1{
	display: flex;
}

.fintxt{
	margin: auto;
	word-spacing: 30px;
	margin-top: 20px;
}


.final{
	text-align: center;
}

.logo{
	background-color: black;
	color: white;
	margin-right: 10px;
}
