body{
	font-size: 12px;
	color: #606060;
	font-family: Open Sans; 
}

h1{
	font-size: 16px;
	font-weight: bold;
}

h2{
	font-size: 14px;
	font-weight: bold;
}

button{
	font-size: 11px;
}

p{
	padding: 10px;
}

a{
	font-size: 11px;
	color: #c95555;
}

.fondo{
	background-color: gray;
	height: 10rem;
}

.boton1{
	margin-left: 20px;
	height: 30px;
	width: 80px;
	color: white;
	background-color: #283e3e;
}

.texto{
	text-align: center;
	margin-bottom: 
}

.button {
  background-color: #283e3e;
  border: none;
  color: white;
  padding: 14px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-right: 15px;
}

.header{
	display: flex;
	height: 100px;
	width: 100%;
}

.back{
	margin-top: -9px;
}

.portada{
	margin-left: 30px;
	margin-top: 10px;
	width: 200px;
	height: 80px;
	margin-right: 380px;
}

nav{
	margin-left: 200px;
	text-align: right;
	padding: 26px;
}

img{
	width: 97%;
}


nav > a{
	text-decoration: none;
	padding: 25px 20px ;
}

input{
	height: 30px;
	min-height: 20%;
	min-width: 20%
}

.boton1{
	color: white;
	background-color: #283e3e;
}

.btn2{
	width: 120px;
	height: 40px;
}


.white{
	width: 100%;
	background-color: #ebebe0;
	display: flex;
	height: 12rem;
	text-align: center;
}

.texto1{
	margin: auto;
	margin-top: 70px;
}

.cuerpo{
	text-align: center;
	margin-top: 50px;
}

.second{
	width: 50%
}

.footer{
	display: flex;
}

.fintxt{
	margin: auto;
	word-spacing: 30px;
	margin-top: 40px;
}

.final{
	margin-right: 15px;
}
